// stylelint-disable value-keyword-case
$font__family_main: serif;
$font__size__main: 16px;
// stylelint-enable value-keyword-case
$font__family__code: monospace;
$font__family__pre: monospace;
$font__line-height__main: 1.5;
$font__line-height__pre: 1.6;
